# Python Tutorial: Python Functions

By: jcchouinard.com

-----

A function is a portion of reusable code.

Calling a function allows you to use code without writing it yourself.

A function is called using its name with parentheses and arguments inside.

`function_name(arguments)`

Arguments are optional

## Python Built-in Functions

https://docs.python.org/3/library/functions.html

In [ ]:
sum()
int()
dict()
dir()
type()

### Example

In [1]:
# Using a function

ls = [1,2,3,4]
sum(ls)

10

In [2]:
# Investigate a function
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [3]:
# Assign the result
total = sum(ls)
total

10

## Methods VS Functions

A method is similar to a function, but specifically belong to a Python object.

### What are Python Objects?

 Strings, Lists, Dictionaries are all python objects that have a specific data type (e.g. `str`, `list`, `dict`).

 Each type of object has its on set of methods. 
 
### Example

 - `str`: replace(), capitalize(), ... https://www.w3schools.com/python/python_ref_string.asp 
 - `list`: append(), sort(), ... https://www.w3schools.com/python/python_ref_list.asp
 - `dict`: get(), update(), ... https://www.w3schools.com/python/python_ref_dictionary.asp

In [5]:
# Example string method: title()
s = 'hello'
s.title()

'Hello'

In [4]:
# Example list method: append()
ls = [1,2,3,4]

# This is an error
# append(ls)
ls.append(5)
ls

[1, 2, 3, 4, 5]

In [6]:
# Methods are associated to 
# an object depending on data type
s = 'hello'
s.append('b')

AttributeError: 'str' object has no attribute 'append'

In [8]:
# Some methods are available for both
s = 'hello'
ls = [1,2,2,3,2]

print(s.count('l'))
print(ls.count(2))

2
3

### Creating Your Own Method

In [19]:
# Creating a simple method
def red_foreman():
    print('Dumbass!')

Dumbass!

In [ ]:
# Calling the method
red_foreman()

In [21]:
# Method arguments
def say_something(arg):
    print(arg)

say_something('hello')

hello

In [22]:
# multiple arguments
def count_this(num1, num2):
    print(num1 + num2)

count_this(1, 3)

4

In [27]:
# Default arguments
def say_something(arg):
    print(arg)

# Error
# say_something()

def say_something(arg='Hey man, you missed your shift at the Photo Hut.'):
    print(arg)

say_something()
say_something('I got busted!')

Hey man, you missed your shift at the Photo Hut.
I got busted!

## Packages

A package is a directory of Python script where each script is a module.

Each module has a set of objects, methods and functions, etc.

In [18]:
# Using a Package
from package_name import module_1
module_1.print_hello()

hello world


### Popular Python Packages

- Pandas
- NumPy
- Matplotlib
- Seaborn
- ...

### Installing a Package

#### 1. Install pip

To install packages, you will need conda or pip.

If you have installed Python with Anaconda both are available to you.

Else, download the pip file here:
https://bootstrap.pypa.io/get-pip.py

CD to the location of the installation and in Terminal type this command:

- `$ python3 get-pip.py` (MacOS)
- `C:> py get-pip.py` (Windows)

Documentation: https://pip.pypa.io/en/stable/installation/

#### 2. Install Packages

In Terminal type:

- `pip3 install pandas`

#### 3. Use Package

In [13]:
# Import Package
import pandas

   a  b
0  1  4
1  2  5
2  3  6

In [15]:
# Use Package
data = {
    'a':[1,2,3],
    'b':[4,5,6]
}

pandas.DataFrame(data)

   a  b
0  1  4
1  2  5
2  3  6

In [16]:
# Importing portion of the package
from pandas import DataFrame
DataFrame(data)
# Loosing Context

   a  b
0  1  4
1  2  5
2  3  6

In [14]:
# Using Aliases (preferred)
import pandas as pd 

pd.DataFrame(data)

   a  b
0  1  4
1  2  5
2  3  6

## Conclusion

Help me and subscribe to this channel.

Stay tuned for my upcoming Python for SEO course.

### [jcchouinard.com](https://www.jcchouinard.com/)
### [youtube.com/@jcchouinard](https://www.youtube.com/@jcchouinard)
### [twitter.com/ChouinardJC](https://twitter.com/ChouinardJC)
### [linkedin.com/in/jeanchristophechouinard](https://www.linkedin.com/in/jeanchristophechouinard)